body {
  height: 100%;
}
.bg {
  background-image: url("/static/images/background.png");
  background-size: 1700px 1600px;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

section {
  padding-top: 60px;
}

.width-300 {
  width: 300px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0px 9px 2px #ccc;
}

.width-400 {
  width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 150px;
  box-shadow: 0 0px 9px 2px #ccc;
}

.width-500 {
  width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0px 9px 2px #ccc;
}

#videos {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.preprocess {
  padding-right: 20px;
  padding-bottom: 50px;
}

#preprocessed_images {
  white-space: nowrap;
  width: auto;
  height: 250px;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 0px 9px 2px #ccc;
}

#faces_images {
  white-space: nowrap;
  width: auto;
  height: 150px;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 0px 9px 2px #ccc;
}

.faces {
  padding-right: 20px;
  padding-bottom: 50px;
}

#heatmap_images {
  white-space: nowrap;
  width: auto;
  height: 200px;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 0px 9px 2px #ccc;
  margin-bottom: 20px;
}

.heat-map {
  padding-right: 20px;
  padding-bottom: 50px;
}
